@charset "UTF-8";
/*全体*/
*{
    font-family: "A-OTF UD新ゴ Pr6N", "ヒラギノ角ゴ", "Meiryo", sans-serif;
}

/*時計*/
#ClockArea{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 70px;
    margin: 0px;
}

#main{
    padding-left: 50px;
}

/*YouTube埋め込み用*/
#videoPlayer　.ytp-chrome-top, .ytp-pause-overlay, .ytp-youtube-button.ytp-button{display: none;}
#videoPlayer .ytp-chrome-controls .ytp-button[aria-pressed]::after, .ytp-swatch-background-color, .ytp-settings-button.ytp-hd-quality-badge::after{background-color: white;}
