@charset "UTF-8";
/*全体*/
#main, #videoList{display:flex; font-size:20px; flex-flow:column; text-align: center;}
h1{font-size:40px;}
a{font-size:80%;}
@media screen and (min-width: 1946px){
    #main, #videoList{font-size: 16px; display: flex; flex-direction: row; flex-wrap: wrap;}
    h1{font-size:60px;}
    a{font-size: 100%; padding: 0% 1%;}
}

*{
    font-family: "A-OTF UD新ゴ Pr6N", "ヒラギノ角ゴ", "Meiryo", sans-serif;
}

/*時計*/
#ClockArea{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
}

h1{
    text-align: center;
    margin: 0px;
}

#main{
    padding-left: 50px;
}

#videoPlayer{
    width: 100%;
}
@media screen and (min-width: 1946px) {
    #videoPlayer{width: 1920px;}
}

a{
    margin: 0%;
    width: 45%;
    border: solid 2px black;
    border-radius: 15px;
    text-decoration: none;
    color:black;
    background-color: white;
    text-align: center;
}

.thumimg{
    width: 100%;
    border-radius: 15px;
}
.l{float: left;}

.r{float: right;}

.vfl{display: inline-block; margin-bottom: 10%;}

@media screen and (min-width: 1946px) {
    a{width: 30%;}
    .thumimg{width: 100%;}
    .vfl{display: flex; justify-content: center; margin-bottom: 5%;}
}

